@import "./assets/css/variables.css";

:root {
  font-family: var(--primary-font);
  font-weight: var(--fw-400);

  /*color-scheme: light dark;
  color: var(--soft-shadow);
  */
  background-color: var(--react-black);

  /* font-synthesis: none; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.grover-logo {
  display: flex;
  align-items: center;
  height: var(--space-48);
  gap: var(--space-8);
}
.grover-logo h2 {
  font-weight: var(--fw-700);
}

input {
  fill: var(--white);
  border: none;
  border-right: solid var(--space-2) var(--white-smoke);
  filter: var(--drop-shadow);
}
h1,
h2,
h3,
h4,
p,
span {
  margin: 0;
}

a {
  font-weight: var(--fw-500);
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;

  background-color: var(--white);
  border-radius: var(--space-50);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

li {
  list-style: none;
}

button {
  border-radius: var(--space-8);
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: var(--fw-500);
  font-family: var(--primary-font);
  background-color: var(--red-2);
  color: var(--white);
  cursor: pointer;
  transition: border-color 0.25s;
  line-height: 40px;
  padding: 8px 24px;
  white-space: nowrap;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }

  html {
    scroll-behavior: smooth;
  }
}
